<h3 class="page-title">
    {{title}} <small>{{record.companyName}}</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/profile">Company</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Edit</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <span class="btn-group pull-right">
            <button class="btn btn-primary" ng-click="save(record)">Save Changes</button>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-9">
        <h3 class="form-section col-xs-12">Company Information</h3>
        <div class="form-group col-sm-6">
            <label>Company Name</label>
            <input type="text" class="form-control" ng-model="record.companyName" placeholder="Company Name">
        </div>
        <div class="form-group col-xs-3">
            <label>Organisation Type</label>
            <select ui-select2 class="dropdown form-control" data-ng-model="record.organizationType" data-ng-options="o for o in orgType">
                <option value="">-- Select Type --</option>
            </select>
        </div>
        <div class="form-group col-xs-3">
            <label>Industry</label>
            <select ui-select2 class="dropdown form-control" data-ng-model="record.industryId" data-ng-options="o.id as o.title for o in industries">
                <option value="">-- Select industry --</option>
            </select>
        </div>
        <div class="form-group col-xs-9">
            <label>Address</label>
            <input type="text" class="form-control" ng-model="record.address">
        </div>
        <div class="form-group col-xs-3">
            <label>Pin code</label>
            <input type="text" class="form-control" ng-model="record.pinCode">
        </div>
        <div class="form-group col-xs-3">
            <label>Location</label>
            <select ui-select2 class="dropdown form-control" data-ng-model="record.locationId" data-ng-options="o.id as o.title for o in locations">
                <option value="">-- Select Location --</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3 col-md-2">
        <h3 class="form-section">Company Logo</h3>
        <a href="#" class="thumbnail">
            <img ng-src="{{record.picture.url}}" alt="{{record.companyName}}">
        </a>
        <ng-upload-form ng-model="record.picture" url="/upload/picture"
                        auto-upload="true" title="Company Logo..."
                        accept-file-types="/(\.|\/)(gif|jpe?g|png)$/i"
                        max-chunk-size="10"
                        multiple="false" size-limit="5000000">
        </ng-upload-form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3 class="form-section col-xs-12">Contact Person</h3>
        <div class="form-group col-sm-3 col-xs-6">
            <label>First Name</label>
            <input type="text" class="form-control" ng-model="record.firstName">
        </div>
        <div class="form-group col-sm-3 col-xs-6">
            <label>Last Name</label>
            <input type="text" class="form-control" ng-model="record.lastName">
        </div>
        <div class="form-group col-sm-2 col-xs-6">
            <label>Email</label>
            <input type="email" class="form-control" id="txtemail" ng-model="record.email">
        </div>
        <div class="form-group col-sm-2 col-xs-6">
            <label>Phone</label>
            <input type="text" class="form-control" ng-model="record.mobile" placeholder="Enter Mobile Number">
        </div>
        <div class="form-group col-sm-2 col-xs-6">
            <label>Phone 2</label>
            <input type="text" class="form-control" ng-model="record.alternateNumber" placeholder="Enter Mobile Number">
        </div>
        <h3 class="form-section col-xs-12">Social Information</h3>
        <div class="form-group col-xs-6">
            <div class="input-group">
                <label class="input-group-addon"><i class="fa fa-globe"></i></label>
                <input type="text" class="form-control" ng-model="record.webSite" placeholder="WebSite">
            </div>
        </div>
        <div class="form-group col-xs-6">
            <div class="input-group">
                <label class="input-group-addon"><i class="fa fa-google-plus"></i></label>
                <input type="text" class="form-control" ng-model="record.google" placeholder="Google+">
            </div>
        </div>
        <div class="form-group col-xs-6">
            <div class="input-group">
                <label class="input-group-addon"><i class="fa fa-facebook"></i></label>
                <input type="text" class="form-control" ng-model="record.facebook" placeholder="Facebook">
            </div>
        </div>
        <div class="form-group col-xs-6">
            <div class="input-group">
                <label class="input-group-addon"><i class="fa fa-linkedin"></i></label>
                <input type="text" class="form-control" ng-model="record.linkedIn" placeholder="LinkedIn">
            </div>
        </div>
        <div class="form-group col-xs-6">
            <div class="input-group">
                <label class="input-group-addon"><i class="fa fa-twitter"></i></label>
                <input type="text" class="form-control" ng-model="record.twitter" placeholder="Twitter">
            </div>
        </div>
        <div class="form-group col-xs-6">
            <div class="input-group">
                <label class="input-group-addon"><i class="fa fa-yahoo"></i></label>
                <input type="text" class="form-control" ng-model="record.yahoo" placeholder="Yahoo">
            </div>
        </div>
        <h3 class="form-section col-xs-12">About {{record.companyName}}</h3>
        <div class="form-group col-xs-12">
            <textarea class="form-control" ckeditor="editorOptions" rows="10" ng-model="record.about" required placeholder="About {{record.companyName}}"></textarea>
        </div>
    </div>
</div>