
<h3 class="page-title">
    {{title}}
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Promote</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-sm-8">
        <article>
            <h2>About {{record.companyName}}</h2>
            <div class="full-text" ng-bind-html="record.about"></div>
            <hr>
            <h2>Jobs</h2>
            <div class="row">
                <div class="col-xs-12" ng-repeat="row in jobs" ng-include="'app/views/company/job.item.html'"></div>
            </div>
        </article>
    </div>
    <div class="col-sm-4" id="sidebar">
        <div class="portlet light" ng-if="record.pictureUrl">
            <div class="">
                <img src="{{record.pictureUrl}}" class="img-responsive" alt="">
            </div>
        </div>
        <div class="sidebar-widget" id="share">
            <div class="portlet light">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="javascript:;" data-toggle="tab">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <!--BEGIN TABS-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1_1">
                            <div class="slimScrollDiv">
                                <ul class="feeds">
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-building"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        {{record.companyName}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-user"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        {{record.firstName}} {{record.lastName}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-map-marker"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        {{record.address}} {{record.location}} {{record.country}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-phone"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        {{record.mobile}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-phone"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        {{record.alternateNumber}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-envelope-o"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        <a href="mailto:{{record.email}}">{{record.email}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--END TABS-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <h3 class="splhead">Select the type of promotion for the profile: </h3>
</div>

<div class="col-md-12 row">
    <div class="tiles">
        <div class="col-md-3" isolate ng-repeat="p in promotions track by $index" ng-click="showConfirm(p)">
            <div class="tile double {{p.color}}" ng-class="{'selected':$index == selectedItem}" ng-click="highlight($index)">
                <div class="corner" ng-show="$index == selectedItem">
                </div>
                <div class="check" ng-show="$index == selectedItem">
                </div>
                <div class="tile-body">
                    <i class="fa fa-{{p.icon}}"></i>
                </div>
                <div class="tile-object">
                    <div class="name">
                        {{p.title}}
                    </div>
                    <div class="number">
                        {{p.credits}} &nbsp; <i class="fa fa-credit-card"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 text-right" ng-show="opened">
    <div class="alert alert-block fade in">
        <h4 class="alert-heading"></h4>
        <p>
            Are you sure you want to promote the profile to <strong>{{promoTitle}}</strong> ?
        </p>
        <p>
            <a class="btn red" href="javascript:;" ng-click="confirmPromote(row.id)">
                Confirm
            </a>
            <a class="btn blue" href="javascript:;" ng-click="opened = false; selectedItem = null;">
                Cancel
            </a>
        </p>
    </div>
</div>