<h3 class="page-title">
    {{title}}
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">{{title}}</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <span class="btn-group pull-right">

        </span>
    </div>
</div>
<form ng-submit="save(record)" class="form-inline">
    <div class="form-body">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="e.g. 4212" ng-model="record.code">
        </div>
        <div class="form-group">
            <label>Sequence</label>
            <input type="text" class="form-control" placeholder="e.g. 1" ng-model="record.sequence">
        </div>
        <div class="form-group">
            <label>Link</label>
            <input type="text" class="form-control" placeholder="e.g. https://e10.in/about" ng-model="record.link">
        </div>
        <div class="form-group">
            <label>Link Text</label>
            <input type="text" class="form-control" placeholder="e.g. Register" ng-model="record.linkText">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" placeholder="{{placeholder}}" ng-model="record.description">
        </div>
        <div class="form-group">
            <label>Orientation</label>
            <input type="text" class="form-control" placeholder="vertical" ng-model="record.orientation">
        </div>
        <div class="form-group">
            <label>Rotation</label>
            <input type="text" class="form-control" placeholder="1" ng-model="record.rotation1">
            <input type="text" class="form-control" placeholder="2" ng-model="record.rotation2">
        </div>
        <div class="form-group">
            <label>Scale</label>
            <input type="text" class="form-control" placeholder="2" ng-model="record.scale1">
            <input type="text" class="form-control" placeholder="2" ng-model="record.scale2">
        </div>
        <button type="submit" id="submit" class="btn btn-primary">
            <i class="fa fa-plus"></i> Add
        </button>
        <button type="button" ng-click="navigate(1,record.title)" class="btn btn-info">
            <i class="fa fa-search"></i> Search
        </button>
    </div>
</form>
<cc-pager total-pages="pages" current-page="currentPage"
          page-action="navigate(pageNumber)">
</cc-pager>
<table class="table table-striped table-hover table-bordered table-condensed table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Sequence</th>
            <th>Title</th>
            <th>Description</th>
            <th>Link</th>
            <th>Link Text</th>
            <th>Orientation</th>
            <th>Rotation</th>
            <th>Scale</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody ng-repeat="i in records">
        <tr ng-show="!i.editMode">
            <td>{{i.id}}</td>
            <td>{{i.sequence}}</td>
            <td>{{i.title}}</td>
            <td>{{i.description}}</td>
            <td>{{i.link}}</td>
            <td>{{i.linkText}}</td>
            <td>{{i.orientation}}</td>
            <td>{{i.rotation1}} / {{i.rotation2}} </td>
            <td>{{i.scale1}} / {{i.scale2}} </td>
            <td>
                <button class="btn btn-primary" ng-click="toggle(i)">Edit</button>
                <button class="btn btn-danger" ng-click="delete(i)">Delete</button>
            </td>
        </tr>
        <tr ng-show="i.editMode">
            <td>{{i.id}}</td>
            <td><input type="text" class="form-control" ng-model="i.sequence" /></td>
            <td><input type="text" class="form-control" ng-model="i.title" /></td>
            <td><input type="text" class="form-control" ng-model="i.description" /></td>
            <td><input type="text" class="form-control" ng-model="i.link" /></td>
            <td><input type="text" class="form-control" ng-model="i.linkText" /></td>
            <td><input type="text" class="form-control" ng-model="i.orientation" /></td>
            <td>
                <input type="text" class="form-control" ng-model="i.rotation1" />
                <input type="text" class="form-control" ng-model="i.rotation2" />
            </td>
            <td>
                <input type="text" class="form-control" ng-model="i.scale1" />
                <input type="text" class="form-control" ng-model="i.scale2" />
            </td>
            <td>
                <button ng-click="update(i)" id="submit1" class="btn btn-primary">Save</button>
                <button ng-click="toggle(i)" class="btn btn-info">Cancel</button>
            </td>
        </tr>
    </tbody>
</table>