<h3 class="page-title">
    {{title}}
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Configuration</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button ng-click="saveChanges(row)" class="btn btn-primary srch-btn-pad"><i class="fa fa-cogs"></i> Save Changes</button>
        </div>
    </div>
</div>
<div class="col-sm-12">

    <form class="form form-horizontal">
        <div class="form-body">
            <div class="col-md-3">
                <h3 class="form-section">Credit Pricing</h3>
                <div class="form-group">
                    <label class="control-label col-md-6">Credit Rate</label>
                    <div class="col-md-6">
                        <input type="number" ng-model="row.credit.rate" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-6">Validity</label>
                    <div class="col-md-6">
                        <input type="number" ng-model="row.credit.validity" class="form-control" />

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h3 class="form-section">Taxation</h3>
                <div class="form-group">
                    <label class="control-label col-md-6">Tax Name</label>
                    <div class="col-md-6">
                        <input type="text" ng-model="row.tax.name" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-6">Rate</label>
                    <div class="col-md-6">
                        <input type="number" ng-model="row.tax.rate" class="form-control" />

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="form-section">Advertisement Credits</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-6">Advertise Price</label>
                            <div class="col-md-6">
                                <input type="number" ng-model="row.advertisement.advertise.rate" class="form-control" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-6">Advertise Validity</label>
                            <div class="col-md-6">
                                <input type="number" ng-model="row.advertisement.advertise.validity" class="form-control" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-6">Featured Price</label>
                            <div class="col-md-6">
                                <input type="number" ng-model="row.advertisement.featured.rate" class="form-control" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-6">Featured Validity</label>
                            <div class="col-md-6">
                                <input type="number" ng-model="row.advertisement.featured.validity" class="form-control" />

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-6">Highlight Price</label>
                            <div class="col-md-6">
                                <input type="number" ng-model="row.advertisement.highlight.rate" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-6">Highlight Validity</label>
                            <div class="col-md-6">
                                <input type="number" ng-model="row.advertisement.highlight.validity" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-6">Global Price</label>
                            <div class="col-md-6">
                                <input type="number" ng-model="row.advertisement.global.rate" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-6">Global Validity</label>
                            <div class="col-md-6">
                                <input type="number" ng-model="row.advertisement.global.validity" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="form-section">PayU Payment Gateway</h3>
                <div class="form-group">
                    <label class="control-label col-md-2">Key</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="row.payment.key" class="form-control" />

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Merchant Id</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="row.payment.merchantId" class="form-control" />

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Salt</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="row.payment.salt" class="form-control" />

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Url</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="row.payment.url" class="form-control" />

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="form-section">Notification Emails</h3>
                <div class="form-group">
                    <label class="control-label col-md-2">Site Feedback</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="row.notification.feedback" class="form-control" />

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>