<h3 class="page-title">
    {{title}} <small>{{balance}}</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Invoice</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button class="btn btn-info"  onclick="javascript:window.print();"><i class="fa fa-print"></i> Print</button>
        </div>
    </div>
</div>
<div class="invoice">
    <div class="row invoice-logo">
        <div class="col-xs-6 invoice-logo-space">
            <img src="/Content/images/logo-color.png" class="img-responsive" alt="" />
        </div>
        <div class="col-xs-6">
            <p>
                #{{record.id}} / {{record.created | date:'dd-MMM-yyyy'}} <span class="muted">
                    Consectetuer adipiscing elit
                </span>
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-4">
            <h3>Client:</h3>
            <ul class="list-unstyled">
                <li>
                    {{record.member.firstName}} {{record.member.lastName}}
                </li>
                <li>
                    {{record.member.address}}
                </li>
                <li>
                    {{record.member.location}}
                </li>
                <li>
                    {{record.member.pinCode}}
                </li>
            </ul>
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4 invoice-payment">
            <h3>Payment Details:</h3>
            <ul class="list-unstyled">
                <li>
                    <strong>V.A.T Reg #:</strong> 542554(DEMO)78
                </li>
                <li>
                    <strong>Account Name:</strong> FoodMaster Ltd
                </li>
                <li>
                    <strong>SWIFT code:</strong> 45454DEMO545DEMO
                </li>
                <li>
                    <strong>V.A.T Reg #:</strong> 542554(DEMO)78
                </li>
                <li>
                    <strong>Account Name:</strong> FoodMaster Ltd
                </li>
                <li>
                    <strong>SWIFT code:</strong> 45454DEMO545DEMO
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Item
                        </th>
                        <th class="hidden-480">
                            Description
                        </th>
                        <th class="hidden-480">
                            Quantity
                        </th>
                        <th class="hidden-480">
                            Unit Cost
                        </th>
                        <th>
                            Total
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in record.transactions">
                        <td>
                            {{row.id}}
                        </td>
                        <td>
                            {{row.name}}
                        </td>
                        <td class="hidden-480">
                            {{row.name}}
                        </td>
                        <td class="hidden-480">
                            {{row.credit}}
                        </td>
                        <td class="hidden-480">
                            {{record.unitPrice}}
                        </td>
                        <td>
                            {{row.amount | currency : '₹': 2}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="well">
                <address>
                    <strong>Contractor's Pool.</strong><br />
                    Hydrabad<br />
                    Telenga, CA 94107<br />
                    <abbr title="Phone">P:</abbr> (234) 145-1810
                </address>
                <address>
                    <strong>Gabbar Hari Singh</strong><br />
                    <a href="mailto:billing@contractorspol.com">
                        billing@contractorspol.com
                    </a>
                </address>
            </div>
        </div>
        <div class="col-xs-8 invoice-block">
            <ul class="list-unstyled amounts">
                <li>
                    <strong>Sub - Total amount:</strong> {{record.total | currency : '₹': 2}}
                </li>
                <li>
                    <strong>{{record.taxName}} ({{record.tax | number : 2 }}%):</strong> {{record.taxAmount  | currency : '₹': 2}}
                </li>
                <li>
                    <strong>Grand Total:</strong> {{record.total | currency : '₹': 2}}
                </li>
            </ul>
        </div>
    </div>
</div>
