<div class="page-header-inner">
    <div class="page-logo">
        <a href="/"><img src="/Content/images/logo.png" alt="logo" height="20" class="logo-default"/></a>
        <div ng-if="role!='candidate'" class="menu-toggler sidebar-toggler"></div>
    </div>
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown dropdown-user">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <img alt="" class="img-circle" src="{{profile.pictureUrl}}" />
                    <span class="username username-hide-on-mobile">
                        {{profile.fullName || profile.email}}
                    </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li><a href="/manage"><i class="icon-settings"></i><span class="title">Manage Acount</span></a></li>
                    <li><a href="#/billing"><i class="icon-credit-card"></i><span class="title">Billing</span></a></li>
                    <li><a href="/manage/changepassword"><i class="icon-key"></i><span class="title">Change Password</span></a></li>
                    <li><a href="/manage/managelogins"><i class="icon-link"></i><span class="title">Link Social</span></a></li>
                    <li class="divider"></li>
                    <li><a href="/account/logout"><i class="icon-logout"></i> Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>