<div class="page-sidebar navbar-collapse collapse">
    <ul ng-if="role=='member'" class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="start"><a href="#/"><i class="icon-briefcase"></i><span class="title">Requirements</span></a></li>
        <li><a href="#/profile"><i class="icon-notebook"></i><span class="title">Profile</span></a></li>
        <li><a href="#/promote"><i class="icon-notebook"></i><span class="title">Advertise</span></a></li>
        <li><a href="#/billing"><i class="icon-credit-card"></i><span class="title">Billing</span></a></li>
    </ul>
    <ul ng-if="role=='admin'" class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="start"><a href="#/"><i class="icon-home"></i><span class="title">Dashboard</span></a></li>
        <li><a href="#/billing"><i class="icon-credit-card"></i><span class="title">Billing</span></a></li>
        <li><a href="#/country"><i class="icon-flag"></i><span class="title">Country</span></a></li>
        <li><a href="#/invite"><i class="icon-people"></i><span class="title">Invite</span></a></li>
        <li><a href="#/inbox/feedback"><i class="icon-feed"></i><span class="title">Feedbacks</span></a></li>
        <li><a href="#/config"><i class="icon-settings"></i><span class="title">Configuration</span></a></li>
        <li><a href="#/banner"><i class="icon-picture"></i><span class="title">Sliders</span></a></li>
    </ul>
</div>	