.switch {
    position: relative;
    border: 1px solid #eeeeee;
    cursor: pointer;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    transition: all .5s ease;
}

    .switch .switch-button {
        height: 30px;
        width: 30px;
        background: white;
        display: block;
        border-radius: 25px;
        border: 1px solid #14b1bb;
        margin-top: -1px;
        position: absolute;
        transition: left .5s ease;
    }

    .switch.switch-left .switch-button {
        left: -1px;
    }

    .switch.switch-right {
        background: #14b1bb;
        border-color: #14b1bb;
    }

        .switch.switch-right .switch-button {
            left: 20px;
        }
