@using Mvc.Mailer
Click Below to reset your password
@section mainButton{
    <a href="@ViewBag.ResetUrl"
       style="font-size: 13px; color: #ffffff; background-color: #3bca96; text-decoration: none; text-decoration: none; padding: 11px 44px 10px; border: 1px solid #3bca96; display: inline-block" target="_blank">
        Reset Password
    </a>
}