<div id="loader">
    <i class="fa fa-cog fa-4x fa-spin"></i>
</div>
<header>
    <div id="header-background"></div>
    <div class="container">
        <div class="pull-left">
            <div id="logo">
                <a href="/"><img src="~/Content/images/logo.png" alt="@Product.Name" /></a>
            </div>
        </div>
        <ul class="hidden-xs hidden-sm nav navbar-nav navbar-right">
            <li><a href="@Url.Action("Register","Account")">Signup</a></li>
            <li><a href="@Url.Action("Login","Account")">Login</a></li>
            <li><a href="/#how">How It works</a></li>
        </ul>
    </div>
</header>