@{
    ViewBag.Title = "Forgot Password Confirmation";
    ViewBag.PageClass = "login";
}
<br />
<br />
<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
    <a class="btn btn-default" href="@Url.Action("Login","Account")">Login</a>
</div>
	
